<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.shortenurl.dao.DataAnalysisMapper">
    <select id="queryLastYear" resultType="com.team1.shortenurl.entity.Url">
        select *
        from urlMapper
        where uid = #{uid}
        and create_time >= DATE_SUB(NOW(), INTERVAL 1 YEAR)
    </select>
</mapper>