<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team1.shortenurl.dao.LoginMapper">
    <select id="queryUser" resultType="com.team1.shortenurl.entity.User">
        select * from user where uid = #{uid};
    </select>

    <select id="queryUserWithName" resultType="com.team1.shortenurl.entity.User">
        select * from user where userName = #{userName};
    </select>
</mapper>